.title-bar {
    width: 80vw;
    background-color: rgb(49, 94, 216);
    padding: 5px;
    border-radius: 25px;
    margin: auto;
    display: flex;
    justify-content: center; 
    align-items: center;
    margin-top: 5vh;
    border: 1px solid rgb(77, 77, 77);
}

.title-bar h1 {
    color: white;
}

.container image {
    width: auto;

}

.profile-image-holder {
    width: fit-content;
    height: fit-content;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
    justify-self: flex-start;
    border: 3px solid green;

}

.profile-image-holder img {
    border-radius: 50px;
}

.profile-image-holder image {
    border-radius: 50%;
}

@media screen and (max-width: 480px) {
    .title-bar {
        width: 100vw;
    }
}